<!--<div *ngIf="trip">-->
<!--  <h2>Trip Details</h2>-->
<!--  <p><strong>Id:</strong> {{ trip.id }}</p>-->
<!--  <p><strong>Name:</strong> {{ trip.name }}</p>-->
<!--  <p><strong>Destination:</strong> {{ trip.destination }}</p>-->
<!--</div>-->
<!--<div *ngIf="!trip">-->
<!--  <p><strong>404 Trip not found</strong></p>-->
<!--</div>-->

<div *ngIf="trip">
  <mat-card class="trip-card">
    <mat-card-content>
      <h2 mat-card-title>Trip Details</h2>
      <div class="trip-info">
        <p><strong>Id:</strong> {{ trip.id }}</p>
        <p><strong>Name:</strong> {{ trip.name }}</p>
        <p><strong>Destination:</strong> {{ trip.destination }}</p>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="loadTrips()">Back</button>
      </div>
    </mat-card-content>
  </mat-card>
  <app-map></app-map>
</div>

<div *ngIf="!trip">
  <p><strong>404 Trip not found</strong></p>
</div>

