<div class="about-page">
  <section class="about-section">
    <h2>About Us</h2>
    <p>Welcome to our travel itinerary planner application! At Travelly, we understand that planning a trip can be overwhelming, whether it's a solo adventure, a family vacation, or a business trip. Our goal is to simplify the travel planning process and provide you with the tools you need to create unforgettable journeys.</p>
    <p>With a team of avid travelers and technology enthusiasts, we're dedicated to bringing you a seamless experience. We're passionate about exploring new destinations, uncovering hidden gems, and connecting with cultures around the world. Let Travelly be your trusted companion in crafting your perfect travel itinerary.</p>
  </section>


  <section class="about-section">
    <h2>Our Vision</h2>
    <p>We envision a world where travel planning is enjoyable and stress-free, where travelers can focus on the excitement of their upcoming adventure rather than the logistics. Our vision is to empower travelers with innovative tools that streamline the planning process, offer personalized recommendations, and ensure that every trip is tailored to individual preferences.</p>
    <p>By leveraging the latest technology and combining it with our passion for travel, we're committed to transforming the way people explore the world. We believe that everyone deserves memorable experiences, and we're dedicated to making travel planning an exciting part of the journey.</p>
  </section>

  <section class="about-section">
    <h2>Our Team</h2>
    <div class="team-members">
      <div class="team-member">
        <img src="https://avatars.githubusercontent.com/u/14986550?v=4" alt="Daniel Tuechki">
        <h3>Daniel Tuechki</h3>
        <p>Developer</p>
        <div class="social-links">
          <a href="https://github.com/tuechki" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/your-linkedin1" target="_blank">LinkedIn</a>
        </div>
      </div>
      <div class="team-member">
        <img src="https://avatars.githubusercontent.com/u/26441535?v=4" alt="Panayot Marinov">
        <h3>Panayot Marinov</h3>
        <p>Developer</p>
        <div class="social-links">
          <a href="https://github.com/panayot-marinov" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/your-linkedin2" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
  </section>


</div>
