<div class="contact-page">
  <section class="contact-section">
    <h2>Contact Us</h2>
    <div class="contact-info">
      <div class="contact-item">
        <mat-icon>phone</mat-icon>
        <p>+359 884 230 610</p>
      </div>
      <div class="contact-item">
        <mat-icon>email</mat-icon>
        <p>team@travelly.com</p>
      </div>
      <div class="contact-item">
        <mat-icon>location_on</mat-icon>
        <p>Sofia, FMI 304</p>
      </div>
    </div>
  </section>

  <section class="contact-section">
    <h2>Location</h2>
    <div class="map" id="google-map"></div>
  </section>
</div>
