<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Type" [(ngModel)]="type">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Duration" [(ngModel)]="duration">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Price" [(ngModel)]="price">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="applyFilters()">Filter</button>
</mat-dialog-actions>
