<div class="center-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Itinerary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #itineraryForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="Itinerary Day Number" name="itineraryDayNum" [(ngModel)]="this.itinerary.dayNum" required>
        </mat-form-field>

        <!-- Accommodation section -->
        <h3><button mat-raised-button color="primary" (click)="addAccommodation()">Add Accommodation</button></h3>
        <div *ngFor="let accommodation of accommodations; let i = index">
          <div class="resource-row">
            <mat-form-field>
              <input matInput placeholder="Accommodation Name" name="accommodationName{{ i }}" [(ngModel)]="accommodation.name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Accommodation Address" name="accommodationAddress{{ i }}" [(ngModel)]="accommodation.address">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Accommodation City" name="accommodationCity{{ i }}" [(ngModel)]="accommodation.city">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Price Per Night" name="pricePerNight{{ i }}" [(ngModel)]="accommodation.pricePerNight">
            </mat-form-field>
            <mat-form-field [style.width.px]=327>
              <input matInput placeholder="Accommodation Latitude" name="accommodationLatitude{{ i }}"
                     [(ngModel)]="accommodation.latitude">
            </mat-form-field>
            <mat-form-field class="narrow">
              <input matInput placeholder="Accommodation Longitude" name="accommodationLongitude{{ i }}"
                     [(ngModel)]="accommodation.longitude">
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="deleteAccommodation(accommodation.id)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </div>

        <!-- Activity section -->
        <h3><button mat-raised-button color="primary" (click)="addActivity()">Add Activity</button></h3>
        <div *ngFor="let activity of activities; let i = index">
          <div class="resource-row">
            <mat-form-field>
              <input matInput placeholder="Activity Location" name="activityLocation{{ i }}" [(ngModel)]="activity.location">
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="datetimePicker1" placeholder="Start Time" name="activityStartTime{{ i }}" [(ngModel)]="activity.startTime">
              <mat-datepicker-toggle matSuffix [for]="datetimePicker1"></mat-datepicker-toggle>
              <mat-datepicker #datetimePicker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="datetimePicker2" placeholder="End Time" name="activityEndTime{{ i }}" [(ngModel)]="activity.endTime">
              <mat-datepicker-toggle matSuffix [for]="datetimePicker2"></mat-datepicker-toggle>
              <mat-datepicker #datetimePicker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Activity Description" name="activityDescription{{ i }}" [(ngModel)]="activity.description">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Activity Type" name="activityType{{ i }}" [(ngModel)]="activity.type">
                <mat-option *ngFor="let type of activityTypes" [value]="type">{{ type }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Activity Latitude" name="activityLatitude{{ i }}"
                     [(ngModel)]="activity.latitude">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Activity Longitude" name="activityLongitude{{ i }}"
                     [(ngModel)]="activity.longitude">
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="deleteActivity(activity.id)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </div>

        <!-- Transportation Option section -->
        <h3><button mat-raised-button color="primary" (click)="addTransportationOption()">Add Transportation Option</button></h3>
        <div *ngFor="let transportationOption of transportationOptions; let i = index">
          <div class="resource-row">
            <mat-form-field>
              <input matInput placeholder="Transportation Option Duration" name="transportationOptionDuration{{ i }}" [(ngModel)]="transportationOption.duration">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Transportation Option Price" name="transportationOptionPrice{{ i }}" [(ngModel)]="transportationOption.price">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Transportation Option Type" name="transportationOptionType{{ i }}" [(ngModel)]="transportationOption.type">
                <mat-option *ngFor="let type of transportationOptionTypes" [value]="type">{{ type }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Transporation Option Latitude" name="transportationOptionLatitude{{ i }}"
                     [(ngModel)]="transportationOption.latitude">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Transportation Option Longitude" name="transportationOptionLongitude{{ i }}"
                     [(ngModel)]="transportationOption.longitude">
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="deleteTransportationOption(transportationOption.id)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </div>
        <button mat-raised-button color="primary" class="show-map-button" (click)="showMap()">Show Map</button>
        <button mat-raised-button color="primary" class="update-itinerary-button" (click)="updateItinerary()">Update Itinerary</button>
      </form>
    </mat-card-content>
    <br/>
    <app-timeline [activities]="activities"></app-timeline>

  </mat-card>

</div>
