<div class="itinerary-list">
  <button mat-raised-button color="primary" class="add-itinerary-button" (click)="redirectToAddItineraryPage()">Add New Itinerary</button>
  <mat-card *ngFor="let itinerary of itineraries" class="itinerary-card">
    <mat-card-content (click)="navigateToItineraryDetail(itinerary.id)">
      <div class="itinerary-info">
        <div class="itinerary-info-left">
          <h3 class="itinerary-name">{{ itinerary.dayNum }} Day</h3>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="delete-button" (click)="deleteItinerary(itinerary.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
