<h2>Edit Trip</h2>
<form (ngSubmit)="onSaveClick()">
  <mat-form-field>
    <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="trip.name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Destination" name="destination" [(ngModel)]="trip.destination" required>
  </mat-form-field>
  <!-- Add more form fields for other properties -->
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
